h1{
font-size: 50px !important;
}
.btn-success:hover{
background-color: red;
}
canvas{
    animation-name: hehe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes hehe{
from{box-shadow: 10px 10px 150px red;}
to{box-shadow: 10px 10px 150px green;}
}
